.grid {
  width: 560px;
  height: 560px;
  border: solid black;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-color: orange;
  border: 5px solid black;
  box-sizing: border-box;
}

.power-pellet {
  background-color: orange;
  border-radius: 10px;
}

.wall {
  background-color: green;
}

.pac-man {
  background-color: gray;
  border-radius: 10px;
}

.pinky {
  background-color: pink;
}

.inky {
  background-color: blue;
}

.blinky {
  background-color: red;
}

.clyde {
  background-color: orange;
}

.scared-ghost {
  background-color: aqua;
}

/* New body styling to center everything vertically */
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center; /* Center horizontally */
  text-align: center;
  background-color: black;
  color: white;
}

#gameCanvas {
  width: 560px; /* Same size as the grid */
  height: 560px;
  border: 1px solid black;  /* Keep the border */
  margin-bottom: 20px; /* Add space below the canvas */
}

#score {
  font-size: 20px;  /* Existing size, adjust if needed */
  font-weight: bold;  /* Make it bolder for visibility */
  font-size: 1.5rem; 
  margin: 0; /* Remove default margin */
  color: white; 
}

#level {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}
